<nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/beers">Beers</a></li>
                <li><a href="/random-beer">Random Beer</a></li>
            </ul>
        </div>

</nav>
<div>
    <img class="beer-img" src="/images/beer.png" alt="">
    <a class="btn" href="/beers">Check the Beers!</a>
    <a class="btn" href="/random-beer">Check a Random Beer</a>
</div>

