.header {
    padding-top: 14px;
    padding-bottom: 14px;
    color: #fff;
    text-decoration: none;
    font-size: 2em;  
  }
.beer-img {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 500px;
    height: 300px;
}